
#jumbotron {
  margin-top: 50px;
}

#titleApp {
  text-align: center;
}

#formDownload {
  width: 500px;
  margin-top: 30px;
}

.loader {
  height: 32px;
}

#divResultUrl {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

#divResultUrl a {
  font-size: 20px;
}

#divResultUrl p {
  text-align: center;
}

#infoIcon {
    margin-bottom: 5px;
}

#btnToggleVisibPass {
    margin-top: 1px;
}

.col-btn {
    padding: 0;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  #formDownload {
    width: 300px;
  }

  #titleApp {
    /* change display-3 to display-4 css rules */
    font-size: 3.5rem;
    font-weight: 300;
  }
}
