debug: false
log: false
passModalHash: null
allowedExtensions:
    file:
        - 'zip'
        - 'exe'
        - 'rar'
        - 'msi'
    image:
        - 'png'
        - 'jpg'
        - 'jpeg'
        - 'gif'
        - 'bmp'
downloadfolder: /var/www/Downloader/web/download/
downloadurl: http://mydownloader.com/download/
